body {
    background-color: #1d2127;
    color: #fff;
    font-family: "Overpass Mono", monospace;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar {
    background-color: #464b55;
    padding: 10px;
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
}