body {
    background-color: #1d2127;
    color: #fff;
    font-family: "Overpass Mono", monospace;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar {
    background-color: #464b55;
    padding: 10px;
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.post {
    background-color: #282c34;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
    margin-bottom: 5px;
    transition: all .2s;
}

.post2 {
    background-color: #282c34;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}

.post:hover{
    background-color: #353b46;
    transform: scale(1.005);

}


.post h4 {
    color: #98c379;
}

.post span {
    color: #61afef;
}
