body {
    background-color: #1d2127;
    color: #fff;
    font-family: "Overpass Mono", monospace;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar {
    background-color: #464b55;
    padding: 10px;
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.post {
    background-color: #282c34;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}

.post h4 {
    color: #98c379;
}

.post span {
    color: #61afef;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 12px;
}
.add span{
    margin-right: 10px;
    color: #98c379;
    font-weight: bold;
}
.add button{
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: #61afef;
    height: 40px;
    width: 40%;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}